@import "tailwindcss";

/* Ensure the Leaflet map takes up the right amount of space */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  /* Tailwind slate-900 for a tactical dark mode */
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}